*{
    padding: 0px 0px;
    margin: 0px 0px;
}
.header{
    background-color: #222f3e;
    color: white;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}
.choices{
    margin-top: 3rem;
    gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score , #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#msg{
   
    background-color:  #081b31;
    color: #fff;
    font-size: 2rem;
   
    padding: 1rem ;
    border-radius: 1rem;
}